*{
    padding: 0;
    margin: 0;
}
#box{
width:100%;
height:790px;
background-color: rgb(50, 50, 50);
display: flex;
flex-wrap: wrap;
}
#top{
    width:100%;
    height: 100px;
    background-color: rgba(0,0,0,.1);
}
#sc{
    width: 122px;
    height: 38px;
border: 1px solid rgb(148, 148, 148);
    margin: 10px;
    color: white;
   background-color: rgba(0,0,0,.1);
}
#tianjia{
    width: 122px;
    height: 38px;
border: 1px solid  rgb(148, 148, 148);
    margin: 10px;
    color: white;
   background-color: rgba(0,0,0,.1);
}
#xz{
    width: 122px;
    height: 38px;
border: 1px solid  rgb(148, 148, 148);
    margin: 10px;
    color: white;
   background-color: rgba(0,0,0,.1);
}#shanc{
    width: 122px;
    height: 38px;
border: 1px solid  rgb(148, 148, 148);
    margin: 10px;
    color: white;
   background-color: rgba(0,0,0,.1);
}#qk{
    width: 122px;
    height: 38px;
border: 1px solid  rgb(148, 148, 148);
    background-color: rgba(0,0,0,.1);
    margin: 10px;
    color: white;
}
#test{
    width: 950px;
    height: 550px;
    background-color: rgba(0,0,0,.1);
    position: relative;
}
#test1{
    height: 550px;
    overflow-x: hidden;
}
.ul1{
    width: 946px;
    height: 50px;
}
.ul1 li{
    height: 50px;
    color: #dfdede;
}
.che{
    margin: 5px;
}
.sp{
    color: #dfdede;
}
.sp1{
    position: relative;
    left: 500px;
    color: #dfdede;
}
.sp2{
    position: relative;
    left: 700px;
    color: #dfdede;
}
.sp3{
    position: relative;
    left: 273px;
    color: #dfdede;
}
.sp4{
    position: relative;
    left: 470px;
    color: #dfdede;
}
.sp5{
    position: relative;
    left:465px;
    color: #dfdede;
}
.sp6{
    position: relative;
    left: 653px;
    color: #dfdede;
}
.sp7{
    position: relative;
    left: 287px;
    color: #dfdede;
}
#bf{
    width: 529px;
    height: 550px;
    background-color: rgba(0,0,0,.1);
    position: relative;
    left: 952px;
    bottom: 550px;
}
#bottom{
    width: 100%;
    height: 135px;
    background-color: rgba(0,0,0,.1);
}
.bfq{
    width: 300px;
    height: 450px;
    margin: auto;
    position: relative;
    top: 30px;
    text-align: center;
    color: #dfdede;
}
.ims{
    width: 206px;
    height: 205px;

}
.dd{
    position: relative;
    display: none;
}
.ro{
    position: relative;
    display: none;
}
#lyric{
    width: 300px;
    height: 250px;
    margin: auto;
    position: relative;
    top: 30px;
    text-align: center;
    color: #dfdede;
    overflow-y: scroll;
}
::-webkit-scrollbar {
          display: none;
        }