* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none ;
}
a {
  text-decoration: none;
}
.html {
  font-size: 31.25px;
}
.box {
  background-color: aquamarine;
}
.top {
  width: 100%;
  height: 11.2rem;
  float: left;
  background-color: #fc6704;
}
.names {
  width: 100%;
  height: 1.92rem;
  display: inline-block;
}
.names p {
  text-align: center;
  font-size: 30px;
  margin-top: 0.32rem;
  color: aliceblue;
}
.name {
  width: 3.2rem;
  height: 3.2rem;
  margin: auto;
  margin-top: 0.64rem;
}
.name img {
  width: 3.2rem;
  height: 3.2rem;
}
.name {
  color: aliceblue;
  font-size: 0.8rem;
}
.size {
  width: 3.2rem;
  height: 1.6rem;
  margin: auto;
}
.jixu {
  width: 1.6rem;
  height: 1.6rem;
  margin: auto;
}
.jixu svg {
  margin: 0.32rem;
}
.jind {
  width: 9.6rem;
  height: 1.6rem;
  margin: auto;
}
.jdt {
  width: 9.6rem;
  height: 0.064rem;
  background-color: #161d24;
  display: inline-block;
  margin: 0.64rem 0rem 0.64rem 0rem;
}
.botton {
  width: 100%;
  height: 11.2rem;
  float: left;
}
.bottonwidth {
  width: 100%;
  height: 1.92rem;
  float: left;
}
.bigbox {
  width: 12rem;
  overflow-x: scroll;
}
.bottonwidth {
  white-space: nowrap;
  width: 25.6rem;
}
.bottonwidth li {
  float: left;
  line-height: 1.92rem;
  font-size: 0.64rem;
  margin-right: 0.32rem;
  margin-left: 0.48rem;
  color: gray;
}
.bix {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.hidden {
  display: none;
}
.bix1 {
  width: 100%;
  height: 11.2rem;
  background-color: #00ff04;
  margin-bottom: 0.32rem;
}
.hidden {
  display: none;
}
.bix2 {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.hidden {
  display: none;
}
.bix3 {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.bix4 {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.bix5 {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.bix6 {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.bix7 {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.bix8 {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.bix9 {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.bix10 {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.bix11 {
  width: 100%;
  height: 11.2rem;
  margin-bottom: 0.32rem;
}
.bix12 {
  width: 100%;
  height: 11.2rem;
  background-color: #4ff512;
  margin-bottom: 0.32rem;
}
.flx {
  width: 2.24rem;
  height: 1.92rem;
  float: left;
  margin: 0.64rem 0.32rem 0rem 0.32rem;
}
.flx svg {
  margin: 0.16rem 0.32rem 0rem 0.64rem;
}
.log {
  margin: 0.16rem 0.32rem 0rem 0.64rem;
}
.flx p {
  color: gray;
  text-align: center;
  font-size: 0.48rem;
}
.mai {
  margin: auto;
}
.footer {
  width: 12rem;
  float: left;
  height: 1.92rem;
  bottom: 0;
}
.flx:hover {
  background-color: aqua;
  height: 1.6rem;
  border-radius: 32rem;
}
.footr {
  width: 2.4rem;
  height: 1.6rem;
  float: left;
}
.footr svg {
  margin: 0.32rem 0.32rem 0rem 0.64rem;
}
.footr p {
  text-align: center;
  font-size: 0.576rem;
}
