* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    width: 100%;
    height: 100%;
}

.box {
    width: 100%;
    height: 100%;
    background: url(https://y.qq.com/music/photo_new/T002R300x300M000004BF9r42FHTLi_1.jpg?max_age=2592000)no-repeat;
    background-size: 100% 100%;
    /* background-color: hsla(52, 94%, 50%, 0.5); */
}

.bix {
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 34%, 0.9);
    backdrop-filter: blur(30px);
}

.logo img {
    width: 78px;
    height: 21px;
    opacity: .3;
    margin-left: 20px;
    margin-top: 20px;
}

.logo img:hover {
    opacity: .9;
}

.logon {
    width: 114px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: -1px;
    z-index: 9;
    text-align: right;
    padding-right: 28px;
    /* background-color: aqua; */
}

.logon span {
    color: #fff;
    opacity: .3;
    margin: 0 15px 0 0;
    filter: alpha(opacity=30);
    line-height: 30px;
    font-size: 14px;
}

.logon span:hover {
    opacity: .9;
}

.body {
    height: 100vh;
    margin: 0 7.638889%;
    position: relative;
    z-index: 3;
    margin-top: -50px;
    background-color: hsla(0, 0%, 34%, 0.9);
}

.leightlib {
    width: 1248px;
    height: 544px;
    float: left;
    margin-top: 80px;
    /* background-color: rgb(237, 162, 162); */
}

.button {
    width: 1248px;
    height: 38px;
    float: left;
    /* background-color: rgb(21, 255, 0); */
}

.button button {
    width: 122px;
    height: 38px;
    color: #c3c3c3;
    border: 1px hsla(0, 0%, 56%, 0.9) solid;
    background-color: hsla(0, 0%, 34%, 0.9);
}

.button button:hover {
    color: #ffffff;
    border: 1px #e1e1e1 solid;
    opacity: .9;
}

.tabulation {
    width: 1248px;
    height: 544px;
    float: left;
    margin-top: 20px;
    background-color: #a3a3a3;
}

.song li{
    width: 1240px;
    height: 50px;
    float: left;
    /* background-color: antiquewhite; */
}
.song li input{
    float: left;
    margin: 20px 0 0 10px ;
}
.gq{
    float: left;
    margin-left: 40px;
    line-height: 50px;
}
.gs{
    float: left;
    margin-left: 730px;
    line-height: 50px;
}
.sc{
    float: left;
    margin-left: 303px;
    line-height: 50px;
}
.gqs{
    float: left;
    margin-left: 40px;
    line-height: 50px;
}
.gss{
    float: left;
    margin-left: 697px;
    line-height: 50px;
}
.scs{
    float: left;
    /* margin-left: 280px; */
    margin: 0 70px 0 280px;
    line-height: 50px;
}
.gqs,.gss,.scs{
    color: #fff;
    font-size: 10px;
}
.gq,.gs,.sc{
    color: #fff;
    font-size: 10px;
}
.fux li input{
    float: left;
    margin: 20px 0 0 10px ;
}