* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.banner {
    width: 194vh;
    height: 100vh;
    margin: auto;
    position: relative;
 
}
body{
    background-color: black;
}
.boss {
    width: 600px;
    height: 600px;
    background-image: url("http://101.34.139.112/static/img/login-loading.0e8edbca.gif");
    margin: 100px 30% 0;
    /* display: none; */
    }
    .box {
         position: relative;
         background-color: #000;
         height: 100vh;
         width: 100%;
         display: none;
        }
        
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .from-box{
    border-radius: 6px;
    background: #ffffff;
    width: 350px;
    padding: 25px 25px 5px 25px;
    position: absolute;
    z-index: 100;
    top: 32%;
    left: 38%;
  }
  .title{
    width: 100%;
    height: 40px;
    /* background-color: rgb(9, 138, 250); */
    text-align: center;
  }
  .title img{
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 80px;
  }
  .title span{
    color: #707070;
    font-weight: 700;
    font-size: 18px;
    float: left;
  }

  .layui-btn {
    background-color: #409eff!important;
  }
.even{
    background-color: #409eff!important;
    width: 100px;
    text-align: center;
    height: 37px;
    line-height: 37px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    /* line-height: 76px; */
    outline: none;
    /* 自定义属性 --c,可通过 var 函数对其调用 */
    --c:lightseagreen;
    /* 调用自定义属性--c，设置文字阴影（发光效果） */
    text-shadow: 0 0 10px var(--c),
    0 0 20px var(--c),
    0 0 40px var(--c),
    0 0 80px var(--c),
    0 0 160px var(--c);
    font-family: '宋体';
}