body {
    background-color: aliceblue;
}

.lloo {
    width: 120px;
    height: 140px;
    text-align: center;
    display: none;
}

.logo {
    width: 120px;
    height: 120px;
    background-image: url("../img/tu.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

#box {
    width: 1000px;
    height: 600px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    transition: all 0.2s ease;
    /* display: none; */
}

#icon {
    float: right;
    position: relative;
    right: 30px;
    width: 45px;
    height: 30px;
}

.icon1 {
    float: right;
    position: relative;
    left: 50px;
    width: 45px;
    height: 30px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icon:hover {
    content: attr(title);
    background-color: #939393;
}

#box.show {
    width: 100vw;
    height: 100vh;
}

#box1 {
    float: left;

    width: 180px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f1f0f0;
}

h2 {
    position: relative;
    top: 10px;
    text-align: center;
}

#box1 #ul {
    list-style: none;
    width: 140px;
    height: 548px;
    border-bottom-left-radius: 10px;
}

#box1 a {
    color: black;
    text-decoration: none;
}

#box1 #ul li {
    position: relative;
    left: -40px;
    width: 140px;
    height: 10px;
    line-height: 10px;
    padding: 20px;

}

#box1 #ul li a:hover {

    color: #3883f7;
}

#box1 #ul li:hover {
    background-color: aqua;
}

#box2 {
    float: left;
    position: relative;
    left: -15px;
    width: 760px;
    height: 50px;
    line-height: 50px;
}

#datacolor {
    position: relative;
    left: 30px;
}

#box2 #span {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: #fff;
}

#box2 #span1 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3883f7;
}

#box2 #span2 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 175, 199);
}

#box2 #span3 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(59, 75, 168);
}

#box2 #span4 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(141, 36, 160);
}

#box2 #span5 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 139, 125);
}

#box2 #span6 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(15, 146, 81);
}

#box2 #span7 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(187, 201, 52);
}

#box2 #span8 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(226, 166, 0);
}

#box2 #span9 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

#box2 #span10 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(112, 79, 66);
}

#box2 #span11 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(88, 114, 127);
}

#box2 #span12 {
    position: relative;
    top: 5px;
    left: 30px;
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.fff {
    background-color: #fff;
}

.fff1 {
    background-color: #3883f7;
}

.fff2 {
    background-color: rgb(0, 175, 199);
}

.fff3 {
    background-color: rgb(59, 75, 168);
}

.fff4 {
    background-color: rgb(141, 36, 160);
}

.fff5 {
    background-color: rgb(0, 139, 125);
}

.fff6 {
    background-color: rgb(15, 146, 81);
}

.fff7 {
    background-color: rgb(187, 201, 52);
}

.fff8 {
    background-color: rgb(226, 166, 0);
}

.fff9 {
    background-color: red;
}

.fff10 {
    background-color: rgb(112, 79, 66);
}

.fff11 {
    background-color: rgb(88, 114, 127);
}

.fff12 {
    background-color: rgb(0, 0, 0);
}

.hhdged {
#box3 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
    width: 120vh;
    height: 83%;
    margin: auto;
    background-color: azure;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
    background-color: azure;
}

.taikula {
    margin: auto;
    width: 800px;
    height: 86.5%;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
    background-color: azure;
    display: none;
}
.taikula img{
    margin-left: 10px;
    width: 180px;
    height: 120px;
}
.taikula1 {
    margin: auto;
    width: 800px;
    height: 86.5%;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
    background-color: azure;
    display: none;
}
.taikula1 img{
    margin-left: 10px;
    width: 180px;
    height: 120px;
}
#box3 {
    width: 800px;
    height: 86.5%;
    margin: auto;


}

::-webkit-scrollbar {
    display: none;
}

#box3 div {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 10px;
    border-radius: 5px;
    width: 220px;
    height: 120px;
    background-color: #3883f7;
}

.div1 {
    background: linear-gradient(0deg, rgb(161, 140, 209) 0%, rgb(251, 194, 235) 100%);
}

.div2 {
    background: linear-gradient(120deg, rgb(132, 250, 176) 0%, rgb(143, 211, 244) 100%);
}

.div3 {
    background: linear-gradient(0deg, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
}

.div4 {
    background: linear-gradient(120deg, rgb(240, 147, 251) 0%, rgb(245, 87, 108) 100%);
}

.div5 {
    background: linear-gradient(0deg, rgb(94, 231, 223) 0%, rgb(180, 144, 202) 100%);
}

.div6 {
    background: linear-gradient(0deg, rgb(210, 153, 194) 0%, rgb(254, 249, 215) 100%);
}

.div7 {
    background: linear-gradient(0deg, rgb(152, 144, 227) 0%, rgb(177, 244, 207) 100%);
}

.div8 {
    background: linear-gradient(0deg, rgb(205, 156, 242) 0%, rgb(246, 243, 255) 100%);
}

.div9 {
    background: linear-gradient(0deg, rgb(196, 113, 245) 0%, rgb(250, 113, 205) 100%);
}

.div10 {
    background: linear-gradient(0deg, rgb(238, 162, 162) 0%, rgb(187, 193, 191) 19%, rgb(87, 198, 225) 42%);
}

.div11 {
    background: linear-gradient(0deg, rgb(244, 59, 71) 0%, rgb(69, 58, 148) 100%);
}

.div12 {
    background: linear-gradient(0deg, rgb(2, 80, 197) 0%, rgb(212, 63, 141) 100%);
}

.div13 {
    background: linear-gradient(-20deg, rgb(183, 33, 255) 0%, rgb(33, 212, 253) 100%);
}

.div14 {
    background: linear-gradient(60deg, rgb(171, 236, 214) 0%, rgb(251, 237, 150) 100%);
}

.div15 {
    background: linear-gradient(0deg, rgb(199, 29, 111) 0%, rgb(208, 150, 147) 100%);
}

.div16 {
    background: linear-gradient(0deg, rgb(232, 25, 139) 0%, rgb(199, 234, 253) 100%);
}

.div17 {
    background: linear-gradient(0deg, rgb(189, 194, 232) 0%, rgb(189, 194, 232) 1%, rgb(230, 222, 233) 100%);
}

.div18 {
    background: linear-gradient(0deg, rgb(58, 181, 176) 0%, rgb(61, 153, 190) 31%, rgb(86, 49, 122) 100%);
}

.div19 {
    background: linear-gradient(0deg, rgb(204, 32, 142) 0%, rgb(103, 19, 210) 100%);
}

.div20 {
    background: linear-gradient(0deg, rgb(0, 219, 222) 0%, rgb(252, 0, 255) 100%);
}

.div21 {
    background: linear-gradient(0deg, rgb(236, 119, 171) 0%, rgb(120, 115, 245) 100%);
}

.div22 {
    background: linear-gradient(-225deg, rgb(93, 159, 255) 0%, rgb(184, 220, 255) 48%, rgb(107, 187, 255) 100%);
}

.div23 {
    background: linear-gradient(-225deg, rgb(255, 60, 172) 0%, rgb(86, 43, 124) 52%, rgb(43, 134, 197) 100%);
}
.div24 {
    background: linear-gradient(-225deg, rgb(105, 234, 203) 0%, rgb(234, 204, 248) 48%, rgb(102, 84, 241) 100%);
}