@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* 定义变量与值 */
a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  color: white;
}

/* 使用变量 */
body {
  background-color: rgb(237, 237, 237);
  font-size: 18px;
}

#box {
  width: 100%;
  height: 100%;
}
#box #top {
  width: 100%;
  height: 885px;
}
#box #top #top-top {
  width: 100%;
  height: 745px;
  background-color: #2aae67;
}
#box #top #top-top #top-top-top {
  width: 100%;
  height: 125px;
}
#box #top #top-top #top-top-top ul {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}
#box #top #top-top #top-top-content {
  width: 100%;
  height: 310px;
  background-color: #2aae67;
}
#box #top #top-top #top-top-content #top-top-content-top {
  width: 200px;
  height: 100px;
  background-color: azure;
  margin: auto;
}
#box #top #top-top #top-top-content #top-top-content-bottom {
  width: 500px;
  height: 210px;
  background-color: #2aae67;
  margin: auto;
  border-top: 1px solid white;
}
#box #top #top-top #top-top-content #top-top-content-bottom #ul11 li {
  height: 50px;
  line-height: 50px;
}
#box #top #top-top #top-top-bottom {
  width: 100%;
  height: 310px;
  margin-top: 40px;
}
#box #top #top-top #top-top-bottom #top-top-bottom-top {
  width: 740px;
  height: 120px;
  margin: auto;
}
#box #top #top-top #top-top-bottom #top-top-bottom-top img {
  width: 120px;
  height: 120px;
  margin-left: 20px;
  border-radius: 60px;
}
#box #top #top-top #top-top-bottom #top-top-bottom-bottom {
  width: 740px;
  height: 128px;
  background-color: #2aae67;
  margin: auto;
  margin-top: 40px;
}
#box #top #top-top #top-top-bottom #top-top-bottom-bottom img {
  width: 217px;
  height: 56px;
  margin-left: 20px;
}
#box #top #top-bottom {
  width: 100%;
  height: 140px;
  background-color: #2aae67;
  border-radius: 0 0 400% 400%;
}
#box #content {
  width: 100%;
  height: 1285px;
  background-color: rgb(237, 237, 237);
}
#box #content #ul21 {
  animation: a 1s both;
  padding: 72px 0;
  width: 1100px;
  margin: auto;
  justify-content: center;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
#box #content #ul21 #ul21 li {
  margin: 20px !important;
}
#box #content #ul11 div {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
#box #content #ul21 div {
  width: 214px;
  height: 180px;
  padding: 25px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
#box #content #ul21 div a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  transition: transform 0.3s;
  line-height: 24px;
}
#box #content #ul21 div a:hover {
  transform: scale(1.1);
}
#box #bottom {
  width: 100%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
}
#box #bottom #bottom-content {
  width: 1000px;
  height: 120px;
  margin: auto;
  text-align: center;
  font-size: 13px;
}

@media (max-width: 1100px) {
  #box {
    width: 100%;
    height: 100%;
  }
  #box #top {
    width: 100%;
    height: 885px;
  }
  #box #content {
    width: 100%;
    height: 1685px;
    background-color: rgb(237, 237, 237);
  }
  #box #content #ul21 {
    animation: a 1s both;
    padding: 40px 0;
    width: 800px;
    margin: auto;
    justify-content: center;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
  }
  #box #content #ul21 #ul21 li {
    margin: 20px !important;
  }
  #box #bottom {
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
  }
}
@media (max-width: 750px) {
  #box {
    width: 100%;
    height: 100%;
  }
  #box #top {
    width: 100%;
    height: 985px;
  }
  #box #top #top-top {
    width: 100%;
    height: 845px;
    background-color: #2aae67;
  }
  #box #top #top-top #top-top-content {
    width: 100%;
    height: 310px;
    background-color: #2aae67;
  }
  #box #top #top-top #top-top-content #top-top-content-top {
    width: 200px;
    height: 100px;
    background-color: azure;
    margin: auto;
  }
  #box #top #top-top #top-top-content #top-top-content-bottom {
    width: 500px;
    height: 210px;
    background-color: #2aae67;
    margin: auto;
    border-top: 1px solid white;
  }
  #box #top #top-top #top-top-content #top-top-content-bottom #ul11 li {
    height: 50px;
    line-height: 50px;
  }
  #box #top #top-top #top-top-bottom {
    width: 100%;
    height: 310px;
    margin-top: 40px;
  }
  #box #top #top-top #top-top-bottom #top-top-bottom-top {
    width: 480px;
    height: 240px;
    margin: auto;
  }
  #box #top #top-top #top-top-bottom #top-top-bottom-top img {
    width: 120px;
    height: 120px;
    margin-left: 35px;
    border-radius: 60px;
  }
  #box #top #top-top #top-top-bottom #top-top-bottom-bottom {
    width: 480px;
    height: 162px;
    margin: auto;
    margin-top: 40px;
  }
  #box #top #top-bottom {
    width: 100%;
    height: 140px;
    background-color: #2aae67;
    border-radius: 0 0 400% 400%;
  }
  #box #content {
    width: 100%;
    height: 2385px;
    background-color: rgb(237, 237, 237);
  }
  #box #content #ul21 {
    animation: a 1s both;
    padding: 40px 0;
    width: 600px;
    margin: auto;
    justify-content: center;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
  }
  #box #content #ul21 #ul21 li {
    margin: 20px !important;
  }
  #box #bottom {
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
  }
  #box #bottom #bottom-content {
    width: 400px;
    height: 120px;
    margin: auto;
    text-align: center;
    font-size: 13px;
  }
}/*# sourceMappingURL=下午下载微信界面.css.map */