* {
    margin: 0;
    padding: 0;
}

/* 定义变量与值 */
$bgcolor: lightblue;
$textcolor: rgb(255, 255, 255);
$fontsize: 18px;
$mysmallsize: 12px;
$auto: auto;
$baifen: 100%;
$none: none;
$left: left;
$right: right;
$float: left;
$floatright:right;

/* 使用变量 */
body {
    background-color: $bgcolor;
    // font-size: $fontsize;
}

a {
    text-decoration: $none;
    color: $textcolor;
}

#box {
    width: $baifen;
    height: $baifen;
    background-color: $textcolor;
    margin: $auto;
}

#tou {
    width: $baifen;
    height: 300px;
    background-image: url("https://www.spb.gov.cn/gjyzj/xhtml/images/public/headerbg.png");
    margin: $auto;
    color: $textcolor;
}

#content {
    width: $baifen ;
    height: 100px;
    margin: $auto;
}

#weibu {
    width: 1180px;
    height: 360px;
    background-color: #fff;
    margin: $auto;
}

#tou-con {
    width: 1160px;
    height: 80%;
    margin: $auto;
}

#tou-con-tou {
    width: $baifen;
    height: 40%;
}

#tou-con-tou li {
    float: $right;
    margin-left: 20px;
}

#tou-con-wei {
    width: $baifen;
    height: 60%;
    position: relative;
}

#tou-con-wei img {
    float: $left;
}

#tou-con-wei div {
    float: $right;
    margin-top: 5px;
    width: 420px;
    height: 65%;
    // background-color: rgb(255, 255, 255);
}

#tou-con-wei button {
    width: 95px;
    position: absolute;
    right: 0;
    top: 5px;
    height: 45px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1f559f;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}

#tou-con-wei ul {
    display: flex;
}

#tou-con-wei ul li {
    float: left;
    margin-left: 10px;
    font-size: 13px;
    color: #666666;
}

#tou-con-wei ul li a {
    color: #666666;
}

#tou-con-wei-wei {
    width: 100%;
    height: 60px;
    background-color: #1f559f;

    ul {
        display: flex;
        width: 1160px;
        margin: $auto;

        li {
            width: 200px;
            height: 60px;
            line-height: 60px;
            font-size: $fontsize;
            text-align: center;
            border-left: 1px solid rgb(255, 255, 255);
        }

        li:first-child {
            border-left: none;
        }
    }
}

.right input {
    padding-left: 20px;
    width: 400px;
    height: 44px;
    background-color: #E9F0FA;
    border-radius: 2px;
    border: solid 1px #1F559F;
    line-height: 44px;
}

#content-tou {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    width: 1020px;
    height: 84px;
}

#content-tou a {
    width: 500px;
}

#content-tou #a2 {
    margin-left: 20px;
}

.lb {
    display: flex;
    width: 1020px;
    height: 365px;
    margin: auto;
}

#content-content1 {
    width: 650px;
    height: 370px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

#box1 {
    position: relative;
}

#box1::after {
    margin-left: 35%;
    margin-top: 11px;
    content: "技能成才 竞展风采";
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
}

#box2 {
    position: relative;
}

#box2::after {
    margin-left: 35%;
    margin-top: 11px;
    content: "3只熊";
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
}

#box4 {
    position: relative;
}

#box4::after {
    margin-left: 35%;
    margin-top: 11px;
    content: "马里奥";
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
}

#box5 {
    position: relative;
}

#box5::after {
    margin-left: 35%;
    margin-top: 11px;
    content: "极限竞速地平线5";
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: bold;

    color: white;
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.swiper {
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    text-align: right;
    margin-left: -30px;

}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #fed71a;
}

.right-daoh {
    width: 350px;
    height: 100%;
    margin-left: 20px;
    z-index: 1;
    overflow: hidden;
    /*超出部分隐藏*/
    white-space: nowrap;
    /*不换行*/
    text-overflow: ellipsis;
    /*超出部分文字以...显示*/

}

#open li {
    width: 350px;
    line-height: 60px;
}

#open li:hover {
    color: red;
}

#open li span {
    float: right;
    color: #666666;
}

.cont {

    width: 1020px;
    height: 435px;
    margin: auto;
    margin-top: 22px;

}

#span {
    position: relative;
    left: -585px;
    top: 2px;
    font-size: 18px;
    color: white;

}

.lay {
    width: 600px;
    float: left;
}

#open1 li {
    width: 600px;
    line-height: 60px;
}

#open1 li:hover {
    color: red;
}

#open1 li span {
    float: right;
    color: #666666;
}

.imggg {
    margin-top: -35px;
    width: 400px;
    height: 410px;
    float: right;

}

.imggg img {
    width: 100%;
    height: 100%
}

.zhongbu {
    display: flex;
    flex-direction: column;
    width: 1030px;
    height: 400px;
    background-color: brown;
    margin: auto;
}

.zhongbu li {

    width: 60px;
    height: 200px;
    line-height: 200px;
}

.zhongbu li a {
    display: block;
}

.administration {
    width: 1180px;
    height: 430px;
    margin-left: 10px;
    margin: auto;
    background-color: #f4f8ff;
    margin-top: 20px;
    
}

.give {
    width: 850px;
    height: 430px;
    float: left;
}

.give-left {
    width: 54px;
    height: 430px;
    background-color: #e5eaf5;
    float: $float;
}

.give-left ul {
   
    width: 54px;
    height: 430px;
}

.give-left li {
    width: 54px;
    height: 215px;
    background: #E5EAF5;
    text-align: center;
}

.give-left li:hover {
    background-color: #1f559f;

}

.give-left li:hover a {
    color: white;
}

.give-left a {
    width: 22px;
    margin: 0 auto;
    font-size: 22px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    display: block;
    padding-top: 57px;

}

.give-left-main {
    width: 765px;
    height: 401px;
   
    margin-top: 27px;
    float: $floatright;
    background-color: white;
}



.give-left-main-nav {
    width: 765px;
    height: 71px;
    background-color: #1f559f;
    position: relative;
}

.give-left-main-nav img {
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 20px;
}

.give-left-main-nav h2 {
    display: inline-block;
    height: 25px;
    font-size: 24px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    top: 20px;
    left: 90px;
}

.give-left-main-nav span {
    position: absolute;
    width: 53px;
    height: 20px;
    background: rgba(31, 86, 159, 0);
    border: 1px solid #C8E1FB;
    border-radius: 2px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #C9E1FB;
    top: 27px;
    right: 20px;
    line-height: 20px;
    text-align: center;
}


.zmhdul li {
    width: 209px;
    height: 120px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #ecf2f8;
    position: relative;
}

.zmhdul li a p {
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 110px;
    font-size: 18px;
}

.zmhdul li a img {
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 40px;
}

.zmhdul1 li {
    float: left;
    width: 191px;
    height: 114px;
    margin-top: 40px;
}

.zmhdul1 a img {
    margin-left: 75px;
    margin-top: 20px;
}

.zmhdul1 a p {
    margin: auto;
    text-align: center;
    margin-top: 5px;
}

.give-left-main1 {
    width: 765px;
    height: 401px;
  
    margin-top: 27px;
    float: right;
    background-color: white;
}

.give-right {
    width: 315px;
    height: 382px;
    float: right;
    margin-top: 25px;
    margin-right: 15px;
}

.give-right li {
    width: 280px;
    height: 78px;
    margin-left: 35px;
    background: url(https://www.spb.gov.cn/gjyzj/xhtml/images/index/cxfw.png)no-repeat 0 0/100% 100%;
}

.give-right li:nth-child(2) {
    margin-top: 30px;
}

.give-right li:nth-child(3) {
    margin-top: 30px;
}

.give-right li:nth-child(4) {
    margin-top: 30px;
}

.give-right li img {
    margin-left: 10px;
}

.give-right li a {
    line-height: 78px;
    margin-left: 10px;
    color: black;
    font-size: 16px;
}
.weibu-left{
   float: left;
   position: relative;
   top: 20px;
    width: 300px;
    height: 320px;
    background-color: #F4F8FF;
}
.neibu{
    width: 270px;
    height: 264px;
    margin: auto;
    margin-top: -10px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.min{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #1f559f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imgss{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    height: 200px;
    background-color: darkgoldenrod;
    background: url("https://www.spb.gov.cn/gjyzj//c100025/c100026/202306/14dd0bc871de44cebc694282957a7cde/images/80914d010d63439dbed82fdea995d602.jpg")no-repeat 0 0/100% 100%;
}
.imgss1{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    height: 200px;
    background-color: darkgoldenrod;
    background: url("https://www.spb.gov.cn/gjyzj/c100027/202306/bcfb7b4fb77a4036a00084cbac0fe54a/images/9bdf44dba415455db0ac151a16fcbb73.png")no-repeat 0 0/100% 100%;
}
.imgss2{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    height: 200px;
    background-color: darkgoldenrod;
    background: url("https://www.spb.gov.cn/gjyzj/c106927/202304/e681c07e15fd459c9a02c252f7f152e6/images/132709070c6b473d968cb62097fbf808.png")no-repeat 0 0/100% 100%;
}
.weibu-right{
    margin-left: -20px;
    float: right;
}
.neibu1{
    position: relative;
    top: 10px;
    left: -260px;
    margin-left: -20px;
    width: 600px;
    height: 320px;
  
}
#open2 li {
    width: 600px;
    line-height: 52px;
}
#open2 li span {
    float: right;
}