@font-face {
  font-family: "iconfont";
  /* Project id 4131191 */
  src: url('//at.alicdn.com/t/c/font_4131191_8trw4fftmg9.woff2?t=1687313438658') format('woff2'),
    url('//at.alicdn.com/t/c/font_4131191_8trw4fftmg9.woff?t=1687313438658') format('woff'),
    url('//at.alicdn.com/t/c/font_4131191_8trw4fftmg9.ttf?t=1687313438658') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xin:before {
  content: "\e699";
}

.icon-wenjianjia:before {
  content: "\e64b";
}

.icon-business-icon-ali-clould:before {
  content: "\e823";
}

.icon-iconfontjiantou4:before {
  content: "\e634";
}

.icon-biaoqian:before {
  content: "\e654";
}

.icon-shijian:before {
  content: "\e70f";
}

.icon-a-business-icon-Bigpromotion:before {
  content: "\e822";
}