.con-list {
  padding: 28px;
  color: #50505c;
}

.con-list h3 {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5;
}

.con-list a {
  text-decoration: none;
  color: #4c4c57;
}

.con-list a:hover {
  color: #06c;
}

.intro {
  margin-top: 30px;
  font-size: 13px;
  padding-right: 20px;
  padding-left: 3px;
}

.intro p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /*修改此处为1,可实现单行显示省略号*/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /*此属性控制自动换行*/
  word-break: break-all;
}

.list-footer {
  color: #808091;
  margin-top: 40px;
  font-size: 0.92rem;
}

.list-footer div {
  display: inline-block;
  margin-right: 20px;
}

.read-all {
  cursor: pointer;
  float: right;
}

.read-all:hover {
  color: #06c;
}

.tags span {
  margin-left: 20px;
}

.tags svg {
  vertical-align: sub;
}

.page-box {
  width: 94%;
  line-height: 25px;
  margin-top: 30px;

}

.page-box a {
  color: var(--text-color-3);
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0.4rem 1rem;
  white-space: nowrap;
  text-align: center;
  background: var(--background-color-1);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px var(--shadow-color);
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-timing-function: ease, ease, ease, ease, linear;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-property: color, background, box-shadow, border-color, transform;
}

.page-box a:active {
  transform: scale(0.95);
  box-shadow: 1px 1px 3px var(--shadow-color);
}

.page-box .prev {
  float: left;
  margin-left: 70px;
}

.page-box .next {
  float: right;
}

.page-box a:hover {
  color: #fff;
  background: #06c
}