:root {
    --theme-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --font-color-1: #484853;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #535360;
    overflow-x: hidden;
}

#box {
    width: 100vw;
    min-height: 70vh;
    background-color: #fff;
}

.header {
    position: fixed;
    top: 0;
}

.h-content {
    height: 8.65vh;
    width: 100vw;
    background-color: var(--theme-color);
    box-shadow: 2px 2px 5px var(--shadow-color);
}

.h-content-box {
    margin: 0 auto;
    width: 60vw;
    height: 100%;

}

.left {
    float: left;
    height: 100%;
    line-height: 8.65vh;
}

.left a {
    color: var(--text-color-1);
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: "fangsong";
}

.right {
    float: right;
    height: 100%;
}

.right ul {
    height: 100% !important;
    list-style: none;
    line-height: 8.65vh;
}

.layui-tab {
    height: 100%;
    margin: 0;
}

.right ul li {
    display: inline;
    margin-left: 20px;
}

.right ul li a {
    display: inline-block;
    text-decoration: none;
    color: #50505c;
    font-size: 15.2px;
    letter-spacing: 0.2px;
    line-height: 22px;
    text-align: left;
    padding-bottom: 8px;
}

.right ul li a:hover {
    border-bottom: 3px solid #2A46c5;
    color: #2A46c5;
}

.a-active {
    border-bottom: 3px solid #2A46c5;
    color: #2A46c5;
}

.main {
    width: 100vw;
    min-height: 65vh;
    margin-top: 65px;
}

.main-content {
    margin: 0 auto;
    width: 70%;
    margin-top: 65px;
    padding-top: 20px;
}

.main-content .con-list {
    margin: 0 auto;
    width: 82%;
    height: 145px;
    box-shadow: 2px 2px 5px var(--shadow-color);
    border-radius: 10px;
    margin-top: 30px;
}

.main-content .con-list:hover {
    box-shadow: 3px 3px 6px var(--shadow-color);
    transform: scale(1.03);
    transition: all 0.5s;
}

.main .history-box {
    margin: 0 auto;
    width: 82%;
    min-height: 30vh;
    box-shadow: 2px 2px 5px var(--shadow-color);
    border-radius: 10px;
    margin-top: 30px;

    padding: 10px 30px 30px 30px;
}

.main .history-box:hover {
    box-shadow: 3px 3px 6px var(--shadow-color);
    transition: all 0.5s;
}

.history-con {
    margin-left: 20px;
    margin-top: 30px;

}

.history-con ul {
    list-style: none;
    margin-left: 18px;
}

.history-con ul li {
    margin-top: 1.2rem;


}

.history-con ul li a {
    color: #4c4c57;
    text-decoration: none;
    font-size: 1rem;
}

.history-con ul li span:last-child {
    float: right;
    margin-right: 30px;
    color: #4c4c57;
    font-size: 1rem;
}

.history-con ul li a:hover {
    color: #2A46c5;
}

.history-con-header span:first-child {
    color: #4c4c57;
    font-weight: 600;
    font-size: 1.8rem;
}


.footer {
    width: 100vw;
    height: 130px;
    margin-top: 100px;
    text-align: center;
}

.footer p:first-child {
    position: relative;
}

.footer p {
    margin-top: 10px;
    color: #808091;
    font-size: 15.2px;
    letter-spacing: 0.2px;
}

@keyframes jump {

    0%,
    100% {
        transform: scale(1);
    }

    10%,
    30% {
        transform: scale(0.88);
    }

    20%,
    40%,
    60%,
    80% {
        transform: scale(1.08);
    }

    50%,
    70% {
        transform: scale(1.08);
    }
}

.footer .icon-xin {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 52%;
    animation: jump 1.2s ease-in-out infinite;
}